<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>API</title>
  </head>
  <body>
    <h2>Welcome to Crush Hour API</h2>
    <h4>available routes: </h4>
    <h6>GET ../api/users : view all users</h6>
    <h6>POST ../api/users : create a new user</h6>
    <h6>GET ../api/users/:id : view a single user</h6>
    <h6>PATCH ../api/users/:id : update a single user</h6>
    <h6>DELETE ../api/users/:id : delete a single user</h6>
  </body>
</html>
